body,
h1,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background-color: #eaf6f6;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	box-sizing: border-box;
}

/* Homepage */
header {
	background-color: #34495e;
	color: white;
	padding: 10px 0;
	text-align: center;
}

.intro {
	text-align: center;
	margin: 30px 0;
}

.cta-buttons {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
}

.cta-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.cta-button:hover {
	background-color: #2980b9;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 40px;
}

.feature {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	flex: 1;
	min-width: 300px;
	transition: transform 0.3s ease;
}

.feature:hover {
	transform: translateY(-5px);
}

.feature-icon {
	font-size: 32px;
	color: #3498db;
}

.feature-title {
	margin-top: 10px;
	font-weight: bold;
}

.footer {
	background-color: #34495e;
	color: white;
	padding: 20px;
	text-align: center;
	position: sticky;
	bottom: 0;
	z-index: 2;
}

@media (max-width: 1200px) {
	.container {
		padding: 20px 40px;
	}

	.feature {
		min-width: 250px;
	}
}

@media (max-width: 768px) {
	.features {
		flex-direction: column;
		align-items: center;
	}

	.feature {
		min-width: auto;
	}

	.cta-buttons {
		flex-direction: column;
	}
}

/* Login Page */

.login-container {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
	text-align: center;

	box-sizing: border-box;
	margin-top: -20vh; /* Move up */
}

.login-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.input-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	width: 95%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #f9f9f9;
}

input:focus {
	outline: none;
}

.login-button {
	display: inline-block;
	margin: 5px;
	padding: 10px 20px;
	background-color: #3498db;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.5s ease-in-out;
	font-weight: bold;
	cursor: pointer;
	border: none;
}
.login-button-outline {
	display: inline-block;
	margin: 5px;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border: 1px solid #3498db;
	color: grey;
	background-color: #eaf6f5;
	transition: background-color 0.5s ease-in-out;
}

.login-button:hover {
	background-color: #2980b9;
}

.login-button-outline:hover {
	color: white;
	background-color: #2980b9;
}

/* Word page */

.form-div {
	width: 100%;
	margin-top: -35vh;
	margin-bottom: 20px;
}

.form-control {
	width: 100%;
	border: none;
	border-bottom: 1px solid grey;
	background-color: inherit;
}

.word-meaning {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

.word-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.definition {
	margin-bottom: 15px;
}

.example {
	font-style: italic;
}

@media (max-width: 768px) {
	.word-meaning {
		padding: 15px;
	}
}

.bottom-right-button {
	position: fixed;
	z-index: 200;
	bottom: 70px;
	right: 20px;
	background-color: #3498db;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.bottom-right-button:hover {
	background-color: #2980b9;
}
